<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TbDayReconciliation">

    <select id="listAll" resultType="TbDayReconciliation">
        select * from TB_DAY_RECONCILIATION
    </select>
    <insert id="insert" parameterType="TbDayReconciliation">insert into TB_DAY_RECONCILIATION (col) values (#{col, jdbcType=VARCHAR})</insert>
    <update id="update" parameterType="TbDayReconciliation">update table_name set col = col where id = #{id}</update>
</mapper>
